.feynman{
    background-image: url("../../images/feynman.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 867px;
    min-height: 790px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f2f2f2;
    padding-top: 100px;
  }